p {
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.video-title {
    font-weight: bold;
    font-size: 18px;
    width: 28 0px;
    line-height: 24px;
    margin-bottom: 10px;
}

.video-stats {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

.video-avtar {
    font-size: 14px;
    color: gray;
    margin-top: 0;
    margin-bottom: 20px;
}

.video-description {
    font-size: 14px;
    color: gray; 
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
}
.apple-text {
    margin-bottom: 50px;
    font-size: 14px; 
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    width: 90%;
}

.shop-link {
    cursor: pointer;
}

.shop-link:hover {
    text-decoration: underline  ;
}

.text-one {
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}

.text-block-two {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
}

.text-two {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
}

.text-two-dop-one {
    color: gray;
    padding: 10px 0;
}

.text-two-dop-two {
    padding: 10px 0;
}

.btn-get-started {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.text-block-three {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

em {
    color: rgb(255, 57, 57);
}

.text-block-fwo {
    width: 90%;
    text-align: center;
    font-family: Arial;
}

.text-fwo-one {
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 10px;
}

.text-fwo-two {
    padding-bottom: 10px;
}

.text-fwo-three{
    color: lightblue;
    text-decoration: underline;
}

.text-five {

}

.text-six {

}

.text-seven {

}