.btn-sub {
    background-color: rgb(200, 0, 0);
    color: white;
    width: 100px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: opicity 0.15s;
}

.btn-sub:hover {
    opacity: 0.8;
}

.btn-sub:active {
    opacity: 0.5;
}

.btn-join {
    background-color: rgb(255, 255, 255);
    color: blue;
    width: 70px;
    height: 50px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s,
        color 0.15s;
}

.btn-join:hover{
    background-color: blue;
    color: white;
}

.btn-join:active {
    opacity: 0.7;
}

.btn-tweet {
    background-color: rgb(5, 205, 255);
    color: white;
    width: 85px;
    height: 50px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    margin-right: 8px;
    transition: box-shadow 0,15s;
}

.btn-tweet:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

.btn-request {
    height: 50px;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    margin-right: 8px;  
    cursor: pointer;
    transition: opacity 0.15s;
}

.btn-request:hover {
    opacity: 0.8;
}

.btn-bye {
    height: 50px;
    width: 150px;
    background-color: rgb(255, 164, 28);
    padding: 10px;
    margin-right: 8px;   
    border-radius: 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-bye:hover {
    background-color: rgb(197, 128, 24);
}

.btn-bye:active {
    opacity: 0.5;
}

.btn-add-to-cart {
    height: 50px;
    width: 150px;
    background-color: yellow;
    padding: 10px;
    margin-right: 8px;   
    border-radius: 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.btn-add-to-cart:hover {
    background-color: rgb(245, 200, 0);
}

.btn-add-to-cart:active {
    opacity: 0.5;
}


.btn-sign-up {
    height: 50px;
    background-color: rgba(42, 250, 0, 0.753);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 15px;
    margin-right: 8px;   
    cursor: pointer;
    transition: box-shadow 0.15s;
}

.btn-sign-up:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.116);
}

.btn-get-started {
    height: 50px;
    background-color: rgb(99, 20, 163);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin-right: 8px;   
    cursor: pointer;
    transition: background-color 0.15s;
}

.btn-get-started:hover {
    background-color: rgb(75, 15, 124);
}

.btn-download {
    height: 50px;
    background-color: white;
    color: gray;
    border-color: gray;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding: 15px;
    margin-right: 8px;   
    cursor: pointer;
    transition: background-color 0.15s,
        color 0.15s;
}

.btn-download:hover {
    background-color: gray;
    color: white;
}

.btn-apply {
    height: 50px;
    width: 210px;
    background-color: rgb(62, 104, 241);
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    padding: 15px;
    margin-right: 8px;   
    cursor: pointer;
    transition: background-color 0.15s;
}

.btn-apply:hover {
    background-color:  rgb(34, 60, 148);

}

.btn-save {
    height: 50px;
    width: 90px;
    background-color:white;
    color: rgb(62, 104, 241);
    border-color: rgb(62, 104, 241);
    border-style: solid;
    border-radius: 25px;
    font-size: 15px;
    border-width: 1px;
    font-weight: bold;
    padding: 15px;
    margin-right: 8px;   
    cursor: pointer;
    transition: background-color 0.15s,
        border-width 0,15s;
}

.btn-save:hover{
    border-width: 2px;
    background-color: rgb(156, 178, 250);
}

.price {
    color: rgb(0, 118, 0);
    font-weight: bold;
}