.dialog {
    width: 250px;
}

body {
    margin-left: 20px;
}
.video-title {
    width: 280px;
}

.seven-block {
    margin-top: 20px;
    display: block;
    background-color: black;
    color: white;
    height: 140px;
    width: 310px;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    border-radius: 4px;
}

.eleven-block {
    margin-top: 20px;
    display: block;
    background-color: black;
    color: white;
    height: 140px;
    width: 310px;
    font-size: 60px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    border-radius: 4px;
}